# Cache
api/cache/*.json

# Logs
*.log

# Database
*.db
*.sqlite

# Secrets
*.pem
*.key
*.crt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

api/cache/*

lure/aws
lure/aws_completer
bin/aws
bin/aws_completer
